{{define "main"}}
<section class="module relative">
  <div class="module-inside w-full min-h-[60vh] flex justify-center items-center px-8" style="background-image: url(''); background-position: center right; background-size: cover; background-repeat: no-repeat;">
      <h1 class=" text-6xl text-center text-white mb-8 lg:w-2/3">{{.Title}}</h1>
  </div>
</section>

<section class="bg-white w-full h-16 relative">
  <div class="bg-[#FF3C1E] absolute w-[35%] min-h-[30px] right-0 top-0 z-40" style="border-bottom-left-radius: 17px;"></div>

</section>

<style>
.module {
display: grid;
place-items: center;
color: #ff43ea;
}
.module::before {
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
background-image: url(/images/DSCF9299-copy.JPG);
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
filter: brightness(80%);
}
.module-inside {
position: relative;
}
</style>



{{with .Params.second_section}}
{{if.enable}}
<section class="mt-32 py-12 px-12 md:px-32">
    <div class="text-[#222222]">
        <h1 class=" text-6xl text-center text-[#222222] mb-8">{{.heading}}</h1>
        <p class="text-lg md:text-xl xl:text-2xl sm:mt-16 font-[Roboto] text-center">{{.detail|markdownify}}</p>
        <div class="mt-12">
            <iframe style="width: 100%; border-radius: 20px;" height="722" src="https://www.youtube.com/embed/XsCkKzz9VDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <p class="text-lg md:text-xl xl:text-2xl sm:mt-16 font-[Roboto] text-center mb-8">{{.second_para|markdownify}}</p>
        <div class="flex flex-col items-center md:flex-row justify-center space-x-4 mb-8">
            <div class="column">
              <img src="/images/PXL_20230322_122658417.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor rounded-2xl">
            </div>
            <div class="column">
              <img src="/images/PXL_20220130_153849635.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor rounded-2xl">
            </div>
            <div class="column">
              <img src="/images/PXL_20220130_150106468.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor rounded-2xl">
            </div>
          </div>
          
          <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
          
              <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="/images/PXL_20230322_122658417.jpg" style="width:100%">
              </div>
          
              <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="/images/PXL_20220130_153849635.jpg" style="width:100%">
              </div>
          
              <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="/images/PXL_20220130_150106468.jpg" style="width:100%">
              </div>
              
              
              <a class="prev" onclick="plusSlides(-1)"><</a>
              <a class="next" onclick="plusSlides(1)">></a>
          
              <div class="caption-container">
                <p id="caption"></p>
              </div>
          
        
            </div>
        </div>
        <p class="text-lg md:text-xl xl:text-2xl sm:mt-16 font-[Roboto] text-center mb-8">{{.third_para|markdownify}}</p>
    </div>
</section>
{{end}}
{{end}}

{{with .Params.fourth_section}}

<section class="footer relative">
    <div class="footer-inside w-full min-h-[80vh] flex justify-center items-center px-8" style="background-image: url(''); background-position: center right; background-size: cover; background-repeat: no-repeat;">
        <div class="flex flex-col justify-center items-center">
            <h1 class=" text-6xl text-center text-white mb-8 lg:w-2/3">{{.heading}}</h1>
            <a href="{{.btn_link}}" class="text-white mx-auto bg-[#71B9E2] py-2 px-4 rounded-lg hover:opacity-90 transition-all duration-300 text-xl">{{.btn}}</a>
        </div>
    </div>
</section>


<style>
.footer {
    display: grid;
    place-items: center;
    color: #ff43ea;
}
.footer::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/images/IMG_20200202_163756-copy.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.footer-inside {
    position: relative;
}
</style>
{{end}}






<!-- Js Script -->
<script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }
    
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }
    
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>


<style>
    * {
      box-sizing: border-box;
    }
    
    .row > .column {
      padding: 0 8px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .column {
      float: left;
      width: 25%;
    }
    
    /* The Modal (background) */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 30px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
    }
    
    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;
    }
    
    /* The Close Button */
    .close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }
    
    .mySlides {
      display: none;
    }
    
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    img {
      margin-bottom: -4px;
    }
    
    .caption-container {
      text-align: center;
      background-color: black;
      padding: 2px 16px;
      color: white;
    }
    
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    
    img.hover-shadow {
      transition: 0.3s;
    }
    
    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
{{end}}