<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!-- <meta property="og:title" content="{{.Title}}" /> -->
  {{ if eq .Title "Hyggelig" }}
    <meta property="og:title" content="{{.Title}} - Cozy coworking space in Lisbon" />
  {{ else }}
    <meta property="og:title" content="{{.Title}} - Hyggelig - Cozy coworking space in Lisbon" />
  {{ end }}
  <meta property="og:description" content="Hyggelig is a cozy coworking space in Lisbon near Largo de Intendente and Martim Moniz.
  We offer height-adjustable desks, comfortable chairs and great coworkers." />
  <meta property="og:image" content="https://iridescent-meringue-b69b98.netlify.app/images/hyggelig-coworking-preview-image.png"/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{.Site.BaseURL}}">
  {{ if eq .Title "Hyggelig" }}
    <meta property="twitter:title" content="{{.Title}} - Cozy coworking space in Lisbon" />
  {{ else }}
    <meta property="twitter:title" content="{{.Title}} - Hyggelig - Cozy coworking space in Lisbon" />
  {{ end }}
  <meta name="twitter:image" content="https://iridescent-meringue-b69b98.netlify.app/images/hyggelig-coworking-preview-image.png">
  <meta name="twitter:description" content="Hyggelig is a cozy coworking space in Lisbon near Largo de Intendente and Martim Moniz.
  We offer height-adjustable desks, comfortable chairs and great coworkers.">

  <!-- Google Tag Manager -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158866085-1"></script>
        <script type="text/javascript">
            window.dataLayer=window.dataLayer||[];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-158866085-1');
  </script>
  
  <title>{{.Title}}</title>
  <meta name="description" content="{{ .Description }}" />
  
  <link rel="canonical" href="{{ .Permalink }}" />
  
  <!-- Favicons -->
  <link href="/favicon.png" rel="icon" />
  <link href="/favicon.png" rel="apple-touch-icon" />
  
  <!-- Vendor CSS Files -->
  <link href="/css/output.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://craftdigital.gitlab.io/hyggelig/css/output.css" type="text/css">
  
  <link href="/font/webfontkit-20230430-153601/stylesheet.css" rel="stylesheet" />
  
  <!-- Template Main CSS File -->
  <!-- <link href="/assets/css/style.css" rel="stylesheet" /> -->
  
  <style>
    h1,h2,h3,h4,h5,h6 {
      font-family: "gelica", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
  <!-- Google Lora Fonts -->
  <!-- Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/jlx0kik.css">
  
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <!-- Roboto Fonts -->  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/37543023ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header Starts Here -->
    <header class="bg-[#fff] py-8 px-12 relative" style="font-family: 'Roboto', sans-serif !important;">
      <div class="container mx-auto flex justify-between items-center">
        <div id="headerLogo" class="flex justify-center items-center">
            <a href='{{ "/" | relURL }}' class="z-40 flex justify-center items-center">
              <img src='{{ "logo/Hyggelig logo black.png" | relURL }}' alt="{{ .Site.Title }} Logo" width="144" style="max-width: 100px !;" class="lg:block hidden">
              <img src='{{ "logo/hyggelig-logo-white-rgb.png" | relURL }}' alt="{{ .Site.Title }} Logo" width="144" style="max-width: 100px !;" class="block lg:hidden">
            </a>
        </div>
        <nav class="flex items-center justify-end z-50">
            <ul class="md:flex items-center justify-center hidden">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
                {{- $page_url:= $currentPage.Permalink | absLangURL }}

                {{ $menuItem := . }}
                <li class='{{.Params.class}} menu-item{{if ($currentPage.IsMenuCurrent "main" .) }}  current-menu-item{{end}} mx-4'> <a title="{{ .Name }}" href="{{ .URL }}" class="text-white lg:text-lg text-base hover:border-b-[1px] pb-1 active:border-b-[1px] focus:border-b-[1px] {{ if eq $menuItem.URL $currentPage.RelPermalink }}border-b-[1px]{{ end }}">{{ .Pre }} <span>{{ .Name }}</span><span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}></span>
                {{ if .HasChildren }} <i class="fas fa-angle-down"></i> {{ end }} </a> 
                {{ if .HasChildren }}
                <ul class="sub-menu">
                    {{ range .Children }}
                    <li class='menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} current-menu-item{{end}} space-x-2'> <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a> </li>
                    {{ end }}
                </ul>
                {{ end }} </li>
                {{ end }}
            </ul>
            <!-- Hamburger Icon -->
            <button id="menu-btn" class="block hamburger md:hidden focus:outline-none active:outline-none">
              <span class="hamburger-top"></span>
              <span class="hamburger-middle"></span>
              <span class="hamburger-bottom"></span>
            </button>
            <div class="md:hidden z-50">
              <div id="menu" class="hidden absolute drop-shadow-xl flex-col space-y-3 bg-[#FF3C1E] z-20 my-5 py-3 top-20 right-6 left-6 items-center self-end sm:self-center border-[1px] border-white">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
                {{- $page_url:= $currentPage.Permalink | absLangURL }}
                {{ $menuItem := . }}
                  <a href="{{ .URL }}" class="text-white hover:scale-110 transition-all">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>
        </nav>
      </div>
      <div class="bg-[#FF3C1E] absolute w-full lg:w-[48%] xl:w-[38%] min-h-full right-0 top-0"></div>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
      <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    </header>
    <style>
      
    </style>
    <!-- Header Ends -->

    <!-- Main -->
    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
    <!-- Main ends -->

    <footer class="py-12 px-12 bg-[#FF3C1E]">
      <div class="container mx-auto">
          <div>
              <img src="/logo/hyggelig-logo-white-rgb.png" alt="" width="257" class="mx-auto">
              <p class="text-white text-center mt-4">Copyright © 2023 Hyggelig | Website design and development by: <a href="https://www.craftdigital.ie/" target="_blank">Craft Digital</a></p>
          </div>
      </div>
    </footer>

    <script>
      const btn = document.querySelector('#menu-btn');
      const nav = document.querySelector('#menu');

      btn.addEventListener('click', () => {
          btn.classList.toggle('open')
          nav.classList.toggle('flex')
          nav.classList.toggle('hidden')
      })
    </script>
    <style>
      .hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
    </style>
    {{partial "footer.html" }}
    {{partial "scripts.html"}}
</body>
</html>