{{define "main"}}
<section class="module relative">
    <div class="module-inside w-full min-h-[60vh] flex justify-center items-center px-8" style="background-image: url(''); background-position: center right; background-size: cover; background-repeat: no-repeat;">
        <h1 class=" text-6xl text-center text-white mb-8 lg:w-2/3">{{.Title}}</h1>
    </div>
</section>
  
<section class="bg-white w-full h-16 relative">
<div class="bg-[#FF3C1E] absolute w-[48%] xl:w-[38%] min-h-[30px] right-0 top-0 z-40" style="border-bottom-left-radius: 17px;"></div>

</section>
  
<style>
.module {
display: grid;
place-items: center;
color: #ff43ea;
}
.module::before {
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
background-image: url(/images/IMG_20200202_163756-copy.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
filter: brightness(80%);
}
.module-inside {
position: relative;
}
</style>

{{with .Params.contact}}
{{if.enable}}
<section class="py-12 px-8 ">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class=" w-full md:w-1/2 pr-20 mb-12 md:mb-0">
                <form action="">
                    <div class="flex justify-between mb-4">
                        <input type="text" placeholder="First Name*" id="first-name" class="border-black border-2 rounded-2xl px-4 py-4 w-[49%]" required>
                        <input type="text" placeholder="Last Name*" id="last-name" class="border-black border-2 rounded-2xl px-4 py-4 w-[49%]" required>
                    </div>
                    <div class="flex justify-between mb-4">
                        <input type="email" placeholder="Your Email*" id="email" class="border-black border-2 rounded-2xl px-4 py-4 w-[49%]" required>
                        <input type="tel" placeholder="Your Phone*" id="phone" class="border-black border-2 rounded-2xl px-4 py-4 w-[49%]" required>
                    </div>
                    <div class="flex justify-between mb-4">
                        <input type="text" placeholder="Subject*" id="subject" class="border-black border-2 rounded-2xl px-4 py-4 w-full" required>
                    </div>
                    <div class="flex justify-between mb-4">
                        <textarea name="" placeholder="Message" id="message" cols="30" rows="10" class="border-black border-2 rounded-2xl px-4 py-4 w-full" required></textarea>
                    </div>
                        <input type="submit" value="Send Message" id="submit" class="bg-[#FF3C1E] text-white px-4 py-3 rounded-xl text-xl">
                </form>
            </div>
            <div class="bg-[#71B9E2] w-full md:w-1/2 rounded-2xl py-12 px-14">
                <h1 class=" text-3xl md:text-4xl lg:text-5xl text-white">{{.title}}</h1>
                <p class="text-lg md:text-xl xl:text-2xl mt-8 font-[Roboto] text-white pr-0 md:pr-4 lg:pr-16">{{.detail|markdownify}}</p>
                <div class="mt-8 flex items-center">
                    <a href="mailto:info@hyggelig.pt"><i class="fa-solid fa-envelope text-white text-3xl"></i></a><span class="text-white ml-3 text-xl"><a href="mailto:{{.email}}">{{.email}}</a></span>
                </div>
                <div class="flex mt-8">
                    <a target="_blank" href="https://www.instagram.com/hyggelig.pt/"><i class="text-white text-4xl mr-3 fa-brands fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/HyggeligLisboa"><i class="text-white text-4xl mr-3 fa-brands fa-facebook"></i></a>
                    <a target="_blank" href="https://www.youtube.com/@HyggeligLisboa"><i class="text-white text-4xl mr-3 fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
{{end}}


<section>
    <div class="container mx-auto py-8 px-8">
        <h1 class=" text-3xl md:text-4xl lg:text-5xl text-[#222222] mb-8 text-center">Visit Us In Person</h1>
        <p class="text-lg md:text-xl xl:text-2xl sm:mt-16 font-[Roboto] text-[#222222] text-center">Hyggelig Coworking, Rua Nova do Desterro 29, 3º dto. 1150-241 Lisboa</p>
        <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:NaNpx;height:500px; border-radius: 20px; margin-top: 40px;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Hyggelig+Coworking,+Rua+Nova+do+Desterro+29,+3º+dto.+1150-241+Lisboa&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><style>#my-map-display img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>
    </div>
</section>
{{end}}